<% content_for :head do %>
  <script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag "contact" %>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>CONTACT US</h1>
    </div>
  </div>
</div>
<hr>
<div class="container-fluid contact">
  <div class="row">
    <div class="col map col-lg-6  col-12">
      <iframe scrolling="no" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1401.1471503760228!2d-75.6978286!3d45.3832338!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cce071ab2c04d59%3A0x84184844bcf890cc!2sHealth+Sciences+Building!5e0!3m2!1sen!2sca!4v1544195721999" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="col col-lg-6  col-12 contact-text">
      <h3>CHEELAB </h3>
      <p>
        <br/>
        Melissa Chee, PhD
        <br/>
        melissa.chee@carleton.ca
        <br/>
        +1 (613) 520-2600 ext. 5077
        <br/>
        <br/>
        Carleton University
        <br/>
        Department of Neuroscience
        <br/>
        5309 Health Science Building
        <br/>
        1125 Colonel By Drive
        <br/>
        Ottawa, ON, K1S 5B6
        <br/>
        Canada
        <br/>
      </p>
      <br/>
    </div>
  </div>
</div>
<hr class="avail-hr">
<div class="pos container-fluid">
  <h2>AVAILABLE POSITIONS</h2>
  <div class="container-fluid px-2 mt-0 pt-0 blog-posts ">
    <%= link_to 'Add a New Contact Us Banner', new_contact_path, class: "mb-5 ml-5 btn btn-large btn-primary" if user_signed_in? %>
  </div>
  <br/>
  <div class="container">
    <div class="row">
      <% @contact.each do |contact| %>
        <div class="col col-lg-3  col-12 apply">
          <h5><%= contact.title %></h5>
          <%=contact.bodyI%>
          <br/>
          <% if (!contact.bodyII.blank?) %>
            <br/>
            <%= contact.bodyII%>
          <%end%>
          <%if (contact.bodyI.body.to_plain_text().length == 151)%>
            <br/>
            <br/>
            <br/>
            <%=contact.learnmoreI%>
          <%end%>
          <% if (contact.bodyI.body.to_plain_text().length == 224) %>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <%=contact.learnmoreI%>
          <%end%>
          <% if (contact.bodyI.body.to_plain_text().length == 138)%>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <%= contact.learnmoreI%>
          <%end%>
          <% if (contact.bodyI.body.to_plain_text().length == 149)%>
            <br/>
            <br/>
            <%= contact.learnmoreI%>
          <%end%>
          <% if (contact.bodyI.body.to_plain_text().length == 160)%>
            <br/>
            <%= contact.learnmoreI%>
          <%end%>
          <% if (contact.bodyI.body.to_plain_text().length == 109)%>
            <br/>
            <br/>
            <br/>
            <%= contact.learnmoreI%>
          <%end%>
          <% if(!contact.learnmoreII.blank?) %>
            <br/>
            <%= contact.learnmoreII%>
          <%end%>
          <%= link_to 'Edit', edit_contact_path(contact), class: "btn  btn-primary" if user_signed_in? %>
          <%= button_to 'Destroy', contact, method: :delete, class: "btn  btn-danger", data: { confirm: 'Are
               you sure?' } if user_signed_in? %>
        </div>
      <%end%>
    </div>
  </div>
</div>
<script>
  function closeModal() {
    document.querySelector(".modal").style.display="none";
  }
  function openModal() {
    document.querySelector(".modal").style.display="flex";
  }
</script>
